$bg-color: #23272a;
$card-color: #2c2f33;
$white: #ffffff;
$orange: #f1af48;
$green: #4ff148;

@import "reset";
@import "home";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Noto+Sans:wght@400;700&display=swap");
